<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link type="text/css" rel="stylesheet" href="../banjo.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BanjoTab</title>
  </head>
  <body>
      <div class="header">
        <h1 class="title">Banjo Tabs</h1>
        <a href="./login.html"><h5 class="login">login</h5></a>
      </div>
      <h1><%= data.name %></h1>
      <h5>Alternate Names:</h5>
      <ul>
          <% for( let i=0; i < data.altnames.length; i++) { %>
          <li><%= data.altnames[i] %></li>
          <% } %>
      </ul>
      <h5>Artist:</h5>
      <p><%= data.artist %>
      <h5>Tab Found?:</h5>
      <p><%= data.tabfound %>
      <h5>Tabs:</h5>
      <ul>
          <% for(let i=0; i < data.tabs.length; i++) { %>
          <li><a href="http://localhost:3000/tab/<%=data.tabs[i]%>/pdf" ><%= data.tabs[i] %></a></li>
          <% } %>
      </ul>
      <h5>Audio:</h5>
      <ul>
          <% for(let i=0; i < data.audio.length; i++) { %>
          <li><a href="http://localhost:3000/audio/<%=data.audio[i]%>/pdf"><%= data.audio[i] %></a></li>
          <% } %>
      </ul>
      <h5>Posted By:</h5>
      <p><%= data.username %>
      <h5>Comments/Description</h5>
      <p><%= data.description %>
  </body>
</html>
