<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../banjo.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BanjoTab</title>
  </head>
  <body class="song-info">
      <div class="header">
        <h1 class="title">Banjo Tabs</h1>
        <div class="navbar">
              <div class="nav-el">
                  <a class="login" href="../login.html">Login</a>
              </div>
          </div>
      </div>
      <h1><%= data.name %></h1>
      <h5>Alternate Names:</h5>
      <ul>
          <% for( let i=0; i < data.altnames.length; i++) { %>
          <li><%= data.altnames[i] %></li>
          <% } %>
      </ul>
      <b><p>Artist:</b> <%= data.artist %></p>
          <b><p>Tab Found?:</b></div> <%= data.tabfound %></p>
      <b><p>Tabs:</p></b>
      <ul>
          <% for(let i=0; i < data.tabs.length; i++) { %>
          <li><a href="http://localhost:3000/tab/<%=data.tabs[i]%>" ><%= data.tabs[i] %></a></li>
          <% } %>
      </ul>
      <b><p>Audio:</p></b>
      <ul>
          <% for(let i=0; i < data.audio.length; i++) { %>
          <li><a href="http://localhost:3000/audio/<%=data.audio[i]%>"><%= data.audio[i] %></a></li>
          <% } %>
      </ul>
      <b><p>Posted by User:</b> <%= data.username %> </p>
      <b><p>Comments/Description:</b> <%= data.description %></p>
  </body>
</html>
